/* CSS for wszystkiego praktycznie */

* {
    margin: 0 0;
    padding: 0 0;
    font-family: comic;
}

section .food-search{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

*:focus {
    outline: none;
}

.container {
    width: 100%;
    margin: 2%;
    padding: 0%;
}
/*  
.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}
*/
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
   color: darkblue;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    color: #5d9e5f;
    text-decoration: none;
}

a:hover {
    color: black;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: orange;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}

.btn-primary:hover {
    color: white;
    background-color: red;
}

h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

fieldset {
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error {
    padding: 2%;
    color: red;
}

.success {
    padding: 2%;
    color: green;
}


/* CSS dla navbara */

.logo {
    width: 10%;
    float: left;
}

.menu {
    line-height: 60px;
    padding: 15px;
    font-size: larger;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}

.menu ul li:hover {        
text-decoration:underline;
background-color: white;
border: 3px solid black;
border-radius: 60%;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* CSS dla wyszukiwarki jedzenia */

.food-search {
    background-image: url(../images/767277.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20% 0;
}

.food-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }

.food-search2 {
    background-image: url(../images/ibg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.food-search2 input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* CSS dla kategorii */

.categories {
    padding: 4% 0;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS dla menu jedzenia */

.food-menu {
    background-image: url("../images/20533634.jpg");
    background-color: #cccccc;
    padding: 4% 0;
}

.food-menu-box {
    width: 43%;
    margin: 1%;
    padding: 1%;
    float: left;
    background-color: #B5F8FE;
    border-radius: 15px;
}

.food-menu-img {
    width: 25%;
    float: left;
}

.food-menu-desc {
    width: 100%;
    float: left;
    margin-left: 8%;
}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail {
    font-size: 1rem;
    color: #747d8c;
}


/* CSS dla sociali */

.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    padding: 1%;
}


/* CSS dla zamówień */

.order {
    width: 50%;
    margin: 0 auto;
}

.input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.order-label {
    margin-bottom: 1%;
    font-weight: bold;
}


.br{
    margin-left: 55px;
    border: 2px #2f3542;
}

/* CSS dla mobilek i mniejszych ekraników */

@media only screen and (max-width: 768px) {
    .logo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .menu ul {
        text-align: center;
    }
    .food-search input[type="search"] {
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }
    .btn {
        width: 91%;
        padding: 2%;
    }
    .food-search {
        padding: 10% 0;
    }
    .categories {
        padding: 20% 0;
    }
    h2 {
        margin-bottom: 10%;
    }
    .box-3 {
        width: 100%;
        margin: 4% auto;
    }
    .food-menu {
        padding: 20% 0;
    }
    .food-menu-box {
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social {
        padding: 5% 0;
    }
    .order {
        width: 100%;
    }
}